body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: normal;
}
.label {
  display: block;
  margin: 5px 0;
}
textarea {
  width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
}
input[type="text"] {
  width: 100%;
}
.text-label {
}
.radio-wrapper {
  display: inline-block;
}

.caption {
  display: inline-block;
  width: 200px;
}
.caption-float {
  float: left;
}
.input-wrapper {
  overflow: hidden;
  padding-right: 8px;
}

@media (max-width: 768px) {
  .caption {
    display: block;
  }
  .caption-float {
    float: none;
  }
  .caption-checkbox {
    display: inline-block;
  }
  .radio {
    display: block;
    margin: 5px 0;
  }
}
